.myIcon {
    font-size: 200%; 
    color: #066baaff;
}
#navbarColor {
    background-color: white;
    margin: 0;
    box-shadow: 0 3px 2px -2px gray;
    padding-top: 1%;
}
#navbarColor a {
    color: black;
}
#navbarColor .active {
    font-weight: bold;
}
#navi {
    width: max-content;
}
#navi li {
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}
#navi li:last-child {
    background-color: #066baaff;
}
#navi li:last-child a {
    color: white;
}
#navi li:hover {
    background-color: #066baaff;
}
#navi li:hover a {
    color: white;
}
#navi li:last-child:hover {
    background-color: gray;
}
.navbar-brand span {
    font-family: 'Parisienne', serif;
    font-size: 120%;
}
#carouselHome {
    margin: 0;
}
.carousel-home-button {
    background-color: transparent;
    border: none;
}; 

.actionBoxHome {
    border: 2px solid red;
}
.subActionBoxHome {
    margin: 2%;
    padding: 3% 3%;
    text-align: center;
    border-radius: 2%;
    box-shadow: grey 0px 1px 4px;
}
.subAcHomeButton {
    margin:auto;
    margin-top: 3%;
    padding: 2% 3%;
    display: block;
    background-color: #066baaff;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.subActionBoxHome:hover {
    box-shadow: #72bcd5ff 0px 1px 4px;
}
.subActionBoxHome:hover .subAcHomeButton {
    background-color: #72bcd5ff;
}
.subActionButton:hover a {
    text-decoration: none;
}
.subAcHomeButton:hover {
    background-color: #72bcd5ff;
}

#imageBoxHome img {
    width: 100%;
    padding: 0px;
}
#imageBoxHome {
    display: flex;
    flex-wrap: wrap;
}
.imgCol {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}  
.imgCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
}  
.column img:hover {
    opacity: 1;
}

#aboutBoxAbout {
    padding: 1% 15%;
    margin-top: 1%;
}
#aboutBoxAbout > .row{
    margin-bottom: 6%;
}

#pageHeaderBox {
    background-image: url('images/20220531_133903.png'); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: cover; 
    height: 500px;
    width: 100%;
    padding: 20% 5%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
};


#footerColor {
    background-color: #72bcd5ff;
    background-image: url('images/Desktop\ version\ \(footer\).jpg'); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: cover; 
    height: 500px;
    width: 100%;
    color: #555;
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#footerColor a {
    color: #555;
}
#footerColor .footer-title {
    color: #555;
    font-weight: bold;
}

#topBanner {
    background-image: url('images/annie-spratt-yrzBgqapG1I-unsplash.jpg'); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: cover; 
    height: 700px;
    width: 100%;
    padding: 20% 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.boldText {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 150%;
}
.littleText {
    font-family: 'Montserrat', sans-serif;
}
h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.headingText {
    font-size: 180%;
}
.statement {
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
    font-size: 130%;
}

#projectBox .row {
    justify-content: center;
}

#aboutSummary {
    text-align: center;
    font-size: 80%;
    padding: 5%;
}

@media screen and (max-width: 960px) {
    .imgCol {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .imgCol {
      flex: 100%;
      max-width: 100%;
    }
    #topBanner {
        padding-top: 50%;
        font-size: 250%;
    }
    #pageHeaderBox {
        background-image: url('images/Mobile\ Version\ \(header\).png');
        background-position: fixed; 
        background-repeat: no-repeat; 
        background-position: bottom; 
        background-size: cover; 
        height: 300px;
        width: 100%;
    };    
    #footerColor {
        background-color: #72bcd5ff;
        background-image: url('images/Mobile\ Version\ \(footer\).jpg');
        background-position: fixed; 
        background-repeat: no-repeat; 
        background-position: bottom; 
        background-size: cover; 
        height: 300px;
        width: 100%;
    };
}
@media screen and (max-width: 820px) {
    .navbar-brand span {
        display: none;
    }
}
