html, body {
    margin: 0px;
    height: 100%;
}
.blue-icon {
    font-size: 200%; 
    color: #066baaff;
}

.navigate-extra {
    background-color: white;
    margin: 0;
    box-shadow: 0 3px 2px -2px gray;
    padding-top: 1%;
}

.navigate-extra a {
    color: black;
}

.navigate-extra .active {
    font-weight: bold;
}

.sub-navigate {
    width: max-content;
}

.sub-navigate li {
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}

.sub-navigate li:last-child {
    background-color: #066baaff;
}

.sub-navigate li:last-child a {
    color: white;
}

.sub-navigate li:hover {
    background-color: #066baaff;
}

.sub-navigate li:hover a {
    color: white;
}

.sub-navigate li:last-child:hover {
    background-color: gray;
}

.navbar-brand span {
    font-family: 'Parisienne', serif;
    font-size: 120%;
}

.navbar-brand img {
    margin-right: 2%;
}

.sub-actionbox {
    margin: 2%;
    padding: 3% 3%;
    text-align: center;
    border-radius: 2%;
    box-shadow: grey 0px 1px 4px;
}

.blue-actionbutton {
    margin:auto;
    margin-top: 3%;
    padding: 2% 3%;
    display: block;
    background-color: #066baaff;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.sub-actionbox:hover {
    box-shadow: #72bcd5ff 0px 1px 4px;
}

.button-link:hover {
    text-decoration: none;
}

.blue-actionbutton:hover {
    background-color: #555;
}

.photo-grid img {
    width: 100%;
    padding: 0px;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
}

.photogrid-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}  

.photogrid-column img {
    display: block;
    width: 100%;
    cursor: pointer;
    opacity: 1;
}  

.photogrid-column img:hover {
    opacity: 0.8;
}

.grid-box {
    margin-bottom: 8px;
}

.grid-text {
    position: absolute;
    top: 10px;
    z-index: 999;
    /* background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center; */
}

.home-aboutbox {
    padding: 1% 15%;
    margin-top: 1%;
}

.home-aboutbox > .row{
    margin-bottom: 6%;
}

.homepage-header {
    background-image: url('images/annie-spratt-yrzBgqapG1I-unsplash.jpg'); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: cover; 
    height: 700px;
    width: 100%;
    padding: 20% 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 800%;
}

.page-headerbox {
    background-image: url('images/20220531_133903.png'); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: cover; 
    /* height: 30%; */
    width: 100%;
    padding: 20% 5%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 800%
}

.bold-writing {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 150%;
}

.little-writing {
    font-family: 'Montserrat', sans-serif;
}

h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.emailinfo-link {
    color: black;
}

.emailinfo-link:hover {
    text-decoration: none;
}

.heading-writing {
    font-size: 180%;
}

.statement {
    font-family: 'Inconsolata', monospace;
    /* font-weight: bold; */
    font-size: 130%;
}

.project-infobox .row {
    justify-content: center;
}

.aboutus-box {
    text-align: center;
    font-size: 80%;
    padding: 5%;
}

.project-infotext h4 {
    margin-left: 15%;
}

.error-bigbox {
    margin: 0px;
    padding: 0px;
    background-color: #72bcd5ff;
    width: 100%;
    height: 100%;
}

.error-subbox {
    padding: 12%;
    margin: auto;
}

.error-topbox {
    -webkit-background-clip: text;
	background-clip: text;
	background-image: url('images/20220531_133903.png');
	color: transparent;
}

.error-topbox h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 700%;
}

.big-footer {
    background-color: #72bcd5ff;
    background-image: url("images/20220531_135651.jpg"); 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: max-content;
    width: 100%;
    color: #555;
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
}

.big-footer a {
    color: #555;
}

.big-footer a:hover {
    color: white;
}

.big-footer .footer-title {
    /* color: #555; */
    font-weight: 900;
}

.copyright-line {
    justify-content: center;
    color: #066baaff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 960px) {
    .photogrid-column {
        flex: 50%;
        max-width: 50%;
    }

    .error-subbox {
        padding-top: 30%;
    }
}

@media screen and (max-width: 768px) {
    .footer-column {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 600px) {
    .photogrid-column {
      flex: 100%;
      max-width: 100%;
    }

    .homepage-header {
        padding-top: 50%;
        font-size: 250%;
    }

    .page-headerbox {
        padding-top: 50%;
        background-position: bottom right;
    }
}

@media screen and (max-width: 820px) {
    .navbar-brand span {
        display: none;
    }
}

